{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created'%}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>

                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>





<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>"I wanna go FAST!</h2>
            <h5>Heres some stylish yet powerful cars</h5>
            <div><button class="btn btn-primary">View Our Cars</button>     
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6"></div>
            <img src="../../static/CSS/images/nick-fewings-ka7REB1AJl4-unsplash.jpg" alt="He"  id = "heart" class="header-image">
    </div>
        </header>


        <section class="row">
            <div class="col-12" id="middle-text">
                <h2>Display Your Collection!</h2>
                <p>See the most beautiful cars this world has to offer</p>
            </div>
        </section>
        <!--End of middle section-->

        <!--Collection of Features Section-->
        <section class="row" id="features-section">
            <div class="col-12 col-md-4">
                <img src="../../static/images/api.png" alt="api Image" id="api-img">
                <h4>CLASSY</h4>
                <p>If you enjoy classics we have the car for you</p>
            </div>

           


        </section>
        <!--end of collection of features section -->

        <!-- Community Section-->
        
                <div>
                    <button class="btn btn-primary">View on github</button>
                    <button class="btn btn-primary">Join Our Slack Channel!</button>
                </div>
            </div>
        </section>

        <!--End of communnity section-->

        <!--start of footer section-->
        <footer class="row" id="footer">
            <div class="col-2-md-2">
                <img src="../../static/CSS/images/slashio-photography-bKAWpR4y5nU-unsplash.jpg" alt="Coffee" id="footer-logo">
            </div>
            <div class="col-2-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p></p>
                    
            </div>
            <div class="col-2-md-2"></div>
            <div class="col-2-md-2"></div>
            <div class="col-2-md-2"></div>
            <div class="col-2-md-2"></div>
        </footer>

    


</div>

{% endblock content %}